body {
	width: 100%;
	background-color: #FFFFFF;
	margin-left: 0px; 
	margin-top: 0px; 
}

@font-face{font-family:'Proxima_Nova_light';
src:url('../fonts/proximanova-light-webfont.eot');
src:url('../fonts/proximanova-light-webfont.woff') format('woff'),
url('../fonts/proximanova-light-webfont.ttf') format('truetype'),
url('../fonts/proximanova-light-webfont.svg') format('svg');
font-weight:normal;
font-style:normal}

@font-face{font-family:'Proxima_Nova_lightItalic';
src:url('../fonts/proximanova-lightitalic-webfont.eot');
src:url('../fonts/proximanova-lightitalic-webfont.woff') format('woff'),
url('../fonts/proximanova-lightitalic-webfont.ttf') format('truetype'),
url('../fonts/proximanova-lightitalic-webfont.svg') format('svg');
font-weight:normal;
font-style:normal}

@font-face{font-family:'Proxima_Nova_Regular';
src:url('../fonts/proximanova-reg-webfont.eot');
src:url('../fonts/proximanova-reg-webfont.woff') format('woff'),
url('../fonts/proximanova-reg-webfont.ttf') format('truetype'),
url('../fonts/proximanova-reg-webfont.svg') format('svg');
font-weight:300;
font-style:normal}

@font-face{font-family:'Proxima_Nova_SemiBold';
src:url('../fonts/proximanova-sbold-webfont.eot');
src:url('../fonts/proximanova-sbold-webfont.woff') format('woff'),
url('../fonts/proximanova-sbold-webfont.ttf') format('truetype'),
url('../fonts/proximanova-sbold-webfont.svg') format('svg');
font-weight:normal;
font-style:normal}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.content {
  padding-top: 16px;
}

.sticky + .content {
  padding-top: 50px;
}

.header-title {	
	height: 55px;		
	background-color: #FFFFFF;	
	box-shadow: 0 2px 9px 0 
	rgba(0,0,0,0.06);
}

.gundry-md-logo {
	width: 133px;
    margin-top: 15px;
    margin-left: 30px;
}

.special-internet-onl {
    /*margin-left: 30px;*/
	margin: auto;
    width: 82%;
    /*border: 3px solid #73AD21;*/
}

	.special-internet-onl p {
		font-family: Proxima_Nova_light;
	}

		.special-internet-onl p:first-child {
			margin-bottom: 0px;
			font-weight: bold;
		}

		.special-internet-onl p:nth-child(2) {
			margin-top: 4px;
		}

.total-restore {
	margin: auto;
	width: 27%;
}

.total-restore-mockup {
	/*height: 191px;*/
	width: 100%;
}

.vip-buttons {
	width: 76%;
	margin:auto;
    margin-top: 5%;
}

.non-vip-button {
	/*height: 40px;*/
	width: 124%;
	border-radius: 20px;
	background-color: #4A90E2;
}

.vip-button {
	/*height: 40px;*/
	width: 124%;
	border-radius: 20px;
	background-color: #F1F1F1;
}

.non-vip-link {
	text-decoration: none;
}

.vip-link {
	text-decoration: none;
}

.non-vip-text {
	height: 18px;
	width: 120px;
	color: #FFFFFF;
	font-family: Proxima_Nova_light;
	font-size: 20px;
	font-weight: 600;
	line-height: 40px;
	text-align: center;
	margin-left: 23px;
}

.vip-text {
	height: 18px;
	width: 120px;
	color: #707070;
	font-family: Proxima_Nova_light;
	font-size: 20px;
	font-weight: 600;
	line-height: 40px;
	text-align: center;
	margin-left: 20px;
}

.quantity-buttons {
	margin: auto;
	width: 82%;
}

.unselected-quantity-button {
	height: 40px;
	width: 81px;
	border: 2px solid rgba(74,144,226,0.27);
	border-radius: 20px;
	display: inline-block;
}

.selected-button {
	height: 40px;
	width: 81px;
	border-radius: 20px;
	background-color: #4990E2;
	display: inline-block;
} 
	.selected-button span {
		color: #FFFFFF;
	}

.quanity-number {
	height: 32px;
	width: 100%;
	color: rgba(74,144,226,0.27);
	font-family: Proxima_Nova_light;
	font-size: 26px;
	font-weight: 600;
	line-height: 40px;
	text-align: center;
	display: inline-block;
}

.three-copy {
	height: 32px;
	width: 15px;
	color: #FFFFFF;
	font-family: Proxima_Nova_light;
	font-size: 26px;
	font-weight: 600;
	line-height: 40px;
	text-align: center;
	margin-left: 33px;
}

.six-copy {
	height: 32px;
	width: 10px;
	color: rgba(74,144,226,0.27);
	font-family: Proxima_Nova_light;
	font-size: 26px;
	font-weight: 600;
	line-height: 40px;
	text-align: center;
	margin-left: 32px;
}

.per-jar {
	margin-top: 15px;
	margin: auto;
	width: 82%;
}

.per-jar-copy {
	height: 24px;
	width: 132px;
	color: #4A90E2;
	font-family: Proxima_Nova_light;
	font-size: 20px;
	font-weight: 600;
	line-height: 24px;
}

.retail-price {
	margin: auto;
	width: 82%;
}

.retail-price-copy {
	height: 19px;
	width: 132px;
	color: #4A4A4A;
	font-family: Proxima_Nova_light;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: -0.12px;
	line-height: 28px;
	text-decoration: line-through;
}

.now-price {
	margin: auto;
	width: 82%;
}

.now-price-text {
	height: 37px;
	width: 184px;
	color: #29397B;
	font-family: Proxima_Nova_light;
	font-size: 30px;
	font-weight: 600;
	line-height: 37px;
}

.free-shipping {
	margin: auto;
	width: 82%;
}

.free-shipping-text {
	height: 15px;
	width: 84px;
	color: #4A4A4A;
	font-family: Proxima_Nova_light;
	font-size: 12px;
	font-weight: 600;
	line-height: 15px;
	text-align: center;
}

.buy-now {
	width: 84%;
	margin: auto;
} 

.buy-now-link {
	text-decoration: none;
}

.buy-now-button {
    height: 40px;
    width: 100%;
    border-radius: 20px;
    background: linear-gradient(180deg, #FFC073 0%, #FB8143 100%);
    /*margin-left: 20%;*/
    margin-top: 10px;
}

.buy-now-text {
	height: 32px;
	width: 155px;
	color: #FFFFFF;
	font-family: Proxima_Nova_light;
	font-size: 26px;
	font-weight: 600;
	line-height: 38px;
	text-align: center;
	margin-left: 36%;
}





